<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <header>
    <p><span>&#169;</span> Nafis Neehal, Ashraful Islam</p>
    <p> Xinformatics 6400, Rensselaer Polytechnic Institute, 2021 </p>
 </header>
  <body>
    <h1>DeepChat</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hello, there!</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter Message here">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script src="/static/js/main.js"></script>
    </div>
  </body>
</html>
